<div class="container-fluid">
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-primary" href="#/proxies/create">
                <i class="glyphicon glyphicon-plus"></i> Create
            </a>

            <button class="btn btn-danger" type="button" ng-click="vm.deleteAll()">
                <i class="glyphicon glyphicon-remove"></i> Clear
            </button>
        </div>

        <h1>Proxies</h1>

        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center" ng-if="!vm.proxies.length">
                <h1 class="text-info">
                    You don't have created any proxies yet.
                    <br>
                    <small>Please create one to start!</small>
                </h1>
            </div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="proxy in vm.proxies" style="line-height: 22px">
                    <div class="pull-right">
                        <button class="btn btn-danger btn-xs" ng-click="vm.deleteProxy(proxy)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>

                    <a href="#/proxies/edit/{{proxy.key}}" style="margin-right: 10px">{{proxy.name}}</a>

                    <small class="text-muted" style="font-style: italic">{{vm.apiUrl}}/proxy/{{proxy.key}}</small>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>