<div class="container-fluid">
    <div class="page-header">
        <div class="pull-right">
            <button class="btn btn-danger" type="button" ng-click="vm.deleteAll()">
                <i class="glyphicon glyphicon-remove"></i> Clear
            </button>
        </div>

        <h1>Request Logs</h1>

        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center" ng-if="!vm.logs.length">
                <h1 class="text-info">
                    There is no logs here yet.
                    <br>
                    <small>Please do some requests and come back later to see what happened!</small>
                </h1>
            </div>

            <div class="list-group">
                <div class="list-group-item" ng-repeat="log in vm.logs" style="line-height: 22px">
                    <div class="pull-right">
                        <button class="btn btn-danger btn-xs" ng-click="vm.deleteLog(log)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>

                    <samp style="display: block; white-space: pre; text-overflow: ellipsis; text-indent: 1em; overflow: hidden; width: 95%">[{{log.date | date:'dd/MM/yy HH:mm:ss.sss'}}] [<span class="text-info">{{log.type | padRight:5}}</span>] [{{log.response.responseCode}}] [<span class="text-info">{{log.method | padRight:7}}</span>] <a href="#/logs/show/{{log.key}}">{{log.path}}</a></samp>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>