<form name="backupForm" class="container-fluid" novalidate>
    <div class="page-header">
        <h1>
            Backup
        </h1>

        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">

                  <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="fileName" class="form-control" readonly="">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input type="file" id="file" onchange="angular.element(this).scope().uploadFile(this)">
                            </span>
                        </span>
                    </div>
                    <span class="help-block">
                        Select your file to upload
                    </span>
                  </div>

                  <div class="form-group">
                      <button class="btn btn-primary" ng-click="upload()">
                          <i class="glyphicon glyphicon-upload"></i> Upload
                      </button>

                      <a target="_self" class="btn btn-primary" href="../file/download">
                          <i class="glyphicon glyphicon-floppy-disk"></i> Download
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
</form>
