<div class="container-fluid">
    <div class="page-header">
        <button class="btn btn-primary pull-right">
            <i class="glyphicon glyphicon-floppy-disk"></i> Save
        </button>

        <h1>
            <a href="#/mocks">Mocks</a> / Create
        </h1>

        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-16">
            <div class="panel panel-default">
                <form name="mockForm" novalidate>
                    <div class="panel-body">
                        <uib-tabset>
                            <uib-tab heading="Details" is-open="true">
                                <div class="form-group">
                                    <label for="mock-url" class="control-label">Url:</label>
                                    <input id="mock-url" name="url" type="text" class="form-control"
                                           ng-model="vm.mock.url">
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="mock-method" class="control-label">Method:</label>
                                            <select id="mock-method" name="method" class="form-control"
                                                    ng-model="vm.mock.method"
                                                    ng-options="method for method in vm.mockMethods"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="mock-response-code" class="control-label">Response Code:</label>
                                            <select id="mock-response-code" name="responseCode" class="form-control"
                                                    ng-model="vm.mock.responseCode"
                                                    ng-options="code for code in vm.mockResponseCodes"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="mock-body" class="control-label">Response Body</label>
                                    <textarea id="mock-body" name="body" class="form-control" rows="5"
                                              ng-model="vm.mock.body"></textarea>
                                </div>
                            </uib-tab>

                            <uib-tab heading="Headers">
                                <table id="mock-headers" class="table table-striped"
                                       style="margin-bottom: 0;">
                                    <tbody>
                                    <tr ng-repeat="header in vm.mock.headers">
                                        <td>
                                            <input type="text" class="form-control" placeholder="Key"
                                                   ng-model="header.key">
                                        </td>

                                        <td>
                                            <input type="text" class="form-control" placeholder="Key"
                                                   ng-model="header.value">
                                        </td>

                                        <td>
                                            <button class="btn btn-danger btn-block">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Key"
                                                   ng-model="vm.selectedHeader.key">
                                        </td>

                                        <td>
                                            <input type="text" class="form-control" placeholder="Value"
                                                   ng-model="vm.selectedHeader.value">
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-block">
                                                <i class="glyphicon glyphicon-check"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </uib-tab>

                            <uib-tab heading="Options">
                            </uib-tab>
                        </uib-tabset>
                    </div>

                    <div class="panel-footer">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>